#content p{
    font-size: 20px;
    font-family: serif;
    color: crimson;
}

#content h1{
    position: relative;
    padding-left: 50px;
    padding-top: 30px;
    margin-bottom: 0;
    font-size: 2em;
    width: 400px;
}

#contentEmpty{
    display: none;
    font-size: 4em;
    margin:100px 0 0 190px;
}
